@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

html{
    font-size: 10px;
    font-family: Montserrat,sans-serif;
    line-height: 1.4;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}


img{
    width: 100%;
    max-width: 60rem;
}